* {
  padding: 0;
  margin: 0;
  font-family: 'Acumin', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-image: url("images/mainbackground2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: rgba(29, 29, 29, 0.8);
  border-radius: 30px;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  animation: fadein 1s ease-out;
}

.title h1 {
  font-size: 4.5vw;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  letter-spacing: 5px;
}

.title ul {
  list-style: none;
  display: flex;
  animation: fadein 3s ease-in-out;
}

.title li {
  padding: 0 1em;
  font-size: 1vw;
}

.note {
  padding: 1em;
  background-color: rgba(29, 29, 29, 0.8);
  border-radius: 20px;
  margin: 5em 0;
  font-size: 1.2em;
  animation: fadein 5s ease-in-out;
}

.note:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.seeprojects {
  background-color: rgba(29, 29, 29, 0.8);
  color: white;
  padding: 1em 2em;
  border-radius: 30px;
  animation: fadein 5s ease-in-out;
}

.seeprojects img {
  margin-top: 10px;
  animation: float 1s ease-in-out 0s infinite alternate;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes float {
	0% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(-10px);
	}
}

@media only screen and (max-width: 1200px) {
  .title {
    margin-top: 2em;
  }

  .title h1 {
    font-size: 2.5em;
    letter-spacing: normal;
    padding: 2em 0;
    overflow: hidden;
  }

  .title li {
    font-size: 1em;
  }

  .note {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    background-image: url("images/mainbackground.png");
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title ul {
    display: none;
  }

  .title h1 {
    font-size: 2em;
    margin: 0;
  }

  .note {
    animation: fadein 3s ease-in-out;
  }

  .seeprojects {
    animation: fadein 3s ease-in-out;
  }

  .mobileHidden {
    display: none;
  }
}